body {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: calc(25% - 100px);
    border-radius: 50%;
    background-color: beige;
    text-align: center;
    line-height: 200px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 100px;
    left: 100px;
    z-index: -1;
    background-color: white;
}